<app-headerpage title="Requset"></app-headerpage>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Select Supplier: </ion-label>
          <ion-select [(ngModel)]="supplier_ID" placeholder="Select fruit" (ionChange)="display_sup_items()">
            <ion-select-option *ngFor="let x of data.sup | async" value="{{x.id}}" >{{x.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="supplier">
        {{supplier.name}}
      </ion-list>

</ion-content>
