<app-headerpage title="Requset"></app-headerpage>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>Select Supplier: </ion-label>
          <ion-select [(ngModel)]="supplier_ID" placeholder="Select fruit" (ionChange)="display_sup_items()">
            <ion-select-option *ngFor="let x of data.sup | async" value="{{x.id}}" >{{x.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- <ion-list *ngIf="supplier"> -->
        <!-- {{supplier.items | json}} -->
        <!-- <ion-list *ngFor="let item of supplier.items">
          <ion-item>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-list> -->




      <ion-list *ngIf="supplier">

        <div *ngFor="let item of supplier.items; let i=index;" >
            <ion-item (click)="Opeeen(i)" >
                <ion-label>{{item.name}} <br>{{item.description}}
                <br> <p *ngIf="open[i]">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam sit inventore autem, quis quo neque fugiat, maiores itaque similique facilis voluptatem sint ullam debitis expedita odio hic? Officia, nam nihil.
                </p>
                </ion-label>
                <ion-avatar slot="start" (click)="goToDetail(i)">
                <img src='{{item.image}}'>
                </ion-avatar> 
                <ion-item>
                    <ion-button fill="clear" (click)="subQty(i)"><ion-icon name="remove-outline"></ion-icon></ion-button>
                    <ion-label>{{item.qty_Requests}}</ion-label>
                    <ion-button fill="clear" (click)="addQty(i)"><ion-icon name="add-outline"></ion-icon></ion-button>
                </ion-item>
                <ion-avatar slot="end" *ngIf="View">
                <ion-button fill="clear" (click)="makeDuble(i)">
                    <ion-icon name="copy-outline"></ion-icon>
                </ion-button>
                
                </ion-avatar>
                  
            
            </ion-item>

          </div>
        </ion-list>
</ion-content>
