<app-headerpage title="request"></app-headerpage>

<ion-content>
    <h1 class="ion-padding">My Requests </h1>
    <ion-list >

     <div *ngFor="let req of this.empServ.Requests | async" >
        <ion-item *ngIf="req.id_form == dataSrv.emp.id && req.status==0">

    
                  <ion-item lines="none">
                    <p> <b> My Requests to:</b> {{req.id_to}}  <b>-Day:</b> {{week[req.day]}}
                       <br>  <b>My Shift:</b> {{req.shift_from}} <b>-to Shift:</b> {{req.shift_to}}
                    </p>
                </ion-item>
                    <ion-button slot="end" (click)="cancel(req.id,req.day)" color="danger">
                        cancel
                    </ion-button>
        </ion-item>
    </div>
      
    </ion-list>

    <h1 class="ion-padding">Requests Inbox</h1>

    <ion-list *ngFor="let req of this.empServ.Requests | async">
     
        <ion-item *ngIf="req.id_to == dataSrv.emp.id && req.status==0">

    
                  <ion-item lines="none">
                    <p> <b>Requests from:</b> {{req.id_form}}  <b>-Day:</b> {{week[req.day]}}
                       <br>  <b>My Shift:</b> {{req.shift_to}} <b>-to Shift:</b> {{req.shift_from}}
                    </p>
                </ion-item>
                    <ion-button slot="end" (click)="accept(req.id_form,req.day,req.id,req.shift_from,req.shift_to,req.id_to)" color="success">accept</ion-button>
                    <ion-button slot="end" (click)="Reject(req.id_form,req.day,req.id)" color="danger">Reject</ion-button>
        </ion-item>
      
    </ion-list>
</ion-content>