<app-headerpage title="Employees"></app-headerpage>

<ion-content>
    <h1 class="ion-padding">Employees</h1>
    <ion-card *ngFor="let employee of empServ.Employee">
        <ion-card-header>
            <ion-card-subtitle>{{employee.job}}</ion-card-subtitle>
            <ion-card-title>{{employee.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Shift: {{employee.shift}}<br> Certificate: {{employee.certificate}}<br> CPR: {{employee.cpr}}
        </ion-card-content>
    </ion-card>
</ion-content>