<app-headerpage title="Switch"></app-headerpage>

<ion-content>
    <h1 class="ion-padding">Switch</h1>
    <ion-label>{{dataSrv.emp |json}}</ion-label>

    <ion-list>
        <ion-item>
          <ion-label>Day :</ion-label>
          <ion-select interface="popover"    [(ngModel)]="day" >
            <ion-select-option value="0">Sunday</ion-select-option>
            <ion-select-option value="1">Monday</ion-select-option>
            <ion-select-option value="2">Tuesday </ion-select-option>
            <ion-select-option value="3">Wednesday </ion-select-option>
            <ion-select-option value="4">Thursday </ion-select-option>
            <ion-select-option value="5">Friday</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list  *ngIf="day">

      <ion-item>
        <ion-label>You Shift </ion-label>
        <ion-label>{{dataSrv.emp.shift[day]}} </ion-label>
      </ion-item>

        <ion-item *ngFor="let emp of empServ.getEmployees() | async">
            <ion-label> {{emp.name}}</ion-label>
            <ion-label> {{emp.shift[day]}}</ion-label>
            <ion-button  expand="block"  shape="round">
               Shift
            </ion-button>
        </ion-item>
      </ion-list>

  
</ion-content>