
  
   <ion-app>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="sidebarup">
          <ion-title>{{dataSrv.Userstype}}
           </ion-title>
          <ion-button (click)="dark()"  slot="end" fill="clear" >
            <ion-icon slot="end" name="{{moon}}"> </ion-icon>
          </ion-button>
        </ion-toolbar>

      </ion-header>
      <ion-content class="ion-padding">

        <ion-accordion-group class="sidebarup">
          <div *ngFor="let item of appPages">
          <ion-accordion *ngIf="(item.title=='Items'&& (dataSrv.Userstype=='supervisors' || dataSrv.Userstype=='owner'  || dataSrv.Userstype=='admin')) || 
                                (item.title=='Casher'&& (dataSrv.Userstype=='supervisors' || dataSrv.Userstype=='Casher'|| dataSrv.Userstype=='owner' || dataSrv.Userstype=='admin' )) ||
                                ( item.title=='Employees' &&  (dataSrv.Userstype=='supervisors' || dataSrv.Userstype=='Casher'|| dataSrv.Userstype=='employee' || dataSrv.Userstype=='admin' ))|| 
                                ( item.title=='Employees-Management' &&  (dataSrv.Userstype=='owner' || dataSrv.Userstype=='admin' )) ||
                                ( item.title=='suppliers' &&  (dataSrv.Userstype=='suppliers' || dataSrv.Userstype=='admin' )) ||
                                ( item.title=='Reports' &&  (dataSrv.Userstype=='owner' || dataSrv.Userstype=='admin' )) 
                                " >
            
            <ion-item slot="header" >
              <ion-label>{{item.title}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-menu-toggle autoHide="false">
                  <ion-button expand="block"  *ngFor="let content of item.content" fill="clear" routerLink="{{content.url}}">
                    {{content.title}}                  
                  </ion-button>
                </ion-menu-toggle>
            </div>

          
          </ion-accordion>
        </div>
        </ion-accordion-group>

      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-content class="ion-padding">
      </ion-content>
    </div>

        <ion-router-outlet id="main-content">
     
    </ion-router-outlet>
  </ion-app>