.header {
    background-color: #135d54ee;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }

  .main {
    background-color: #16726985;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
  }