<app-headerpage title="Show Items"></app-headerpage>


<ion-content>
  {{ dataSrv.supplier| json}}
  <ion-card *ngFor="let item of dataSrv.supplier.items; let i= index ">

    <ion-item lines="none">
            <img class="img" src="{{item.image}}">
        <ion-card-header>
            <ion-card-title>
                {{item.name}}
            </ion-card-title>
            <p>{{item.description}}</p>
            <ion-item>
              <ion-label>
                qtyPerCarton: {{item.qtyPerCarton}} - Carton Price :  {{item.supplyPrice}}
              </ion-label>
            </ion-item>
        </ion-card-header>
        <ion-button slot="end" (click)="delet(i)"  color="danger">
          delet
        </ion-button>
    </ion-item>

    </ion-card>

</ion-content>
