<app-headerpage title="add"></app-headerpage>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Name: </ion-label>
            <ion-input [(ngModel)]="emp.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>CPR: </ion-label>
            <ion-input [(ngModel)]="emp.cpr"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email: </ion-label>
            <ion-input  type="email" [(ngModel)]="emp.id"></ion-input>
        </ion-item>

        <ion-list>
            <ion-item>
              <ion-label>Job :</ion-label>
              <ion-select interface="popover"  [(ngModel)]="emp.job">
                <ion-select-option value="Casher" >Casher</ion-select-option>
                <ion-select-option value="Cleaner">Cleaner</ion-select-option>
                <ion-select-option value="security">security</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

        <ion-item>
            <ion-label>Salary</ion-label>
            <ion-input type="number" [(ngModel)]="emp.salary" ></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item lines="none">Shift: </ion-item>

        <div *ngFor="let item of week; let i =index">

            <ion-item >{{item}} :</ion-item> <br>

            <ion-segment [(ngModel)]="emp.shift[i]" >
                <br>
                <ion-segment-button value="6am-2pm">
                  <ion-label>6am-2pm</ion-label>
                </ion-segment-button>
                <ion-segment-button value="2pm-10pm">
                  <ion-label>2pm-1-pm</ion-label>
                </ion-segment-button>
                <ion-segment-button value="4pm-12pm">
                    <ion-label>4pm-12pm</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="holiday">
                    <ion-label>Ho</ion-label>
                  </ion-segment-button>
              </ion-segment>
           </div>

       
        
    </ion-list>
    
    <ion-button expand="full" color="secondary" (click)="add()">add</ion-button>


</ion-content>