<app-headerpage title="Add Supplier"></app-headerpage>

<ion-content> 

  <ion-item>
    <ion-label>Supplier Name: </ion-label>
    <ion-input [(ngModel)]="supAdd.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Supplier Phone: </ion-label>
    <ion-input [(ngModel)]="supAdd.phone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Supplier Email: </ion-label>
    <ion-input [(ngModel)]="supAdd.id"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Supplier password: </ion-label>
    <ion-input [(ngModel)]="supAdd.pass"></ion-input>
  </ion-item>

<br>
  <div align="center">
    <ion-button (click)="insert()">Add</ion-button>
  </div>




</ion-content>
